@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');

.bar{
    background-color:#900020;
}

.font1{
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;
}


